<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Home
    </h1>
    <p>Hello,<span th:text="${code}"></span></p>
    <p>Your state is: <span th:text="${state}"></span></p>
    <br>
    <p>Access Token: [[${tokenResponse.accessToken}]]</p>
    <p>Expires In: [[${tokenResponse.expiresIn}]]</p>
    <p>Refresh Token: [[${tokenResponse.refreshToken}]]</p>
    <p>Scope: [[${tokenResponse.scope}]]</p>
     
    <h2>User Information</h2>
    <p>ID: [[${userResponse.id}]]</p>
    <p>Email: [[${userResponse.email}]]</p>
    <p>Login: [[${userResponse.login}]]</p>
    <p>First Name: [[${userResponse.first_name}]]</p>
    <p>Last Name: [[${userResponse.last_name}]]</p>
    <p>Usual Full Name: [[${userResponse.usual_full_name}]]</p>
    <img th:src="${userResponse.image.link}" alt="User Image"/>

</body> 
</html>