<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Home
    </h1>
    <p>Hello,<span th:text="${login}"></span></p>
    <form action="/candidature" method="post">
        <input type="text" name="userId" th:value="${userId}" hidden>
        <button type="submit">View Candidature</button>
    </form>
    <form method="get" action="/certificate">
        <input type="hidden" name="login" th:value="${login}">
        <select name="signer_par">
            <option value="Aucune">Aucune</option>
            <option value="Directeur">Directeur</option>
            <option value="Assistant">Assistant</option>
        </select>
        <button type="submit">Générer Certificat</button>
    </form>

</body>
</html>