<!-- templates/fragments/sidebar.html -->
<div th:fragment="sidebar">
    <!-- Import CSS Sidebar -->
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />

    <aside class="sidebar">
        <ul>
            <li><a th:href="@{/certificate}"><i class="fa fa-home"></i> Certificat Scolarite</a></li>
            <li><a th:href="@{/freeze-begin}"><i class="fa fa-snowflake-o"></i> Freeze</a></li>
            <li><a th:href="@{/check}"><i class="fa fa-snowflake-o"></i> Checking</a></li>
        </ul>
    </aside>
</div>